@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@import "components/text";

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: #121212;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



