.text-h1 {
  font-weight: 500;
  font-size: 40px;

  @media (min-width:1024px) {
    font-size: 52px;
  }
}

.text-h2 {
  font-weight: 500;
  font-size: 30px;

  @media (min-width:1024px) {
    font-size: 40px;
  }
}

.text-h3 {
  font-weight: 500;
  font-size: 20px;

  @media (min-width:1024px) {
    font-size: 24px;
  }
}

.text-h4 {
  font-weight: 500;
  font-size: 17px;

  @media (min-width:1024px) {
    font-size: 18px;
  }
}

.text-b1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 172%;

  @media (min-width:1024px) {
    font-size: 18px;
    line-height: 172%;
  }
}

.text-b2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  @media (min-width:1024px) {
    font-size: 16px;
    line-height: 150%;
  }

  &-strike {
    text-decoration: line-through;
  }
}

.text-c1 {
  font-weight: 500;
  font-size: 13px;
}

.bg-primary{
  color: #D0D0D0;
}

.bg-primary-example{
  width: 91px;
  height: 63px;
  background-color: #D0D0D0;
}

.bg-grey{
  color: #F0F0F0;
}

.bg-grey-example{
  width: 91px;
  height: 63px;
  background-color: #F0F0F0;
}

.bo-dark{
  color: #7D7D7D;
}

.bo-dark-example{
  width: 91px;
  height: 63px;
  background-color: #7D7D7D;
}

.bo-light{
  color: #D0D0D0;
}

.bo-light-example{
  width: 91px;
  height: 63px;
  background-color: #D0D0D0;
}

.accent-primary{
  color: #3752B2;
}

.accent-primary-example{
  width: 91px;
  height: 63px;
  background-color: #3752B2;
}

.accent-black{
  color: #000000;
}

.accent-black-example{
  width: 91px;
  height: 63px;
  background-color: #000000;
}

.text-default{
  color: #121212;
}

.text-default-example{
  width: 91px;
  height: 63px;
  background-color: #121212;
}

.text-subdued{
  color: #121212BF;
  ;
}

.text-subdued-example{
  width: 91px;
  height: 63px;
  background-color: #121212BF;
}

.text-inverse{
  background: linear-gradient(0deg, #D0D0D0, #D0D0D0),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.text-inverse-example{
  width: 91px;
  height: 63px;
  background: linear-gradient(0deg, #D0D0D0, #D0D0D0),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);

}

.o-error{
  color: #DE3618;
}

.o-error-example{
  width: 91px;
  height: 63px;
  background-color: #DE3618;
}

.o-success{
  color: #108043;
}

.o-success-example{
  width: 91px;
  height: 63px;
  background-color: #108043;
}

.o-new{
  color: #AE02FF;
}

.o-new-example{
  width: 91px;
  height: 63px;
  background-color: #AE02FF;
}
